<section class="page-section">
  <div class="container">
    <div class="product-item">
      <div class="product-item-title d-flex">
        <div class="bg-faded p-5 d-flex mr-auto rounded">
          <h2 class="section-heading mb-0">
            <span class="section-heading-upper">
              <% if @recipe.tags %>
                <% @recipe.tags.each do |tag| %>
                  <span class="badge badge-warning"><%= tag.name %></span>
                <% end %>
              <% end %>
              <h1><%= @recipe.title %></h1>
            </span>
            <span class="section-heading-lower"><h3><%= @recipe&.chef&.name %></h3></span>
          </h2>
        </div>
      </div>
      <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="<%= @recipe.photo.image_url %>" alt="">
      <div class="product-item-description d-flex ml-auto">
        <div class="bg-faded p-5 rounded">
          <p class="mb-0"><%= @recipe.description %></p>
          <div class="intro-button mx-auto">
            <a class="btn btn-primary btn-xl" href="<%= recipes_path %>">Go Back To Recipes</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
